PORT=3001
NUXT_PUBLIC_API_BASE=http://localhost:3001

MONGODB_DB=Bible
MONGODB_COLLECTION_BIBLE_EDIT=bible_edit
MONGODB_ADDR=127.0.0.1:27017
MONGO_USERNAME=
MONGO_PWD=
MONGODB_AUTH_SOURCE=
MONGODB_DIRECT_CONNECTION=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

KAKAO_ID=
KAKAO_SECURITY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback
