node_modules/
**/node_modules/

.env
.env.*
!.env.example

dist/
build/
coverage/
.next/
out/
.vite/
.turbo/
.nuxt/
**/.nuxt/
.output/
**/.output/

*.tsbuildinfo

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.zip

.DS_Store
Thumbs.db
